body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-8px;
  width:1030px;
  height:1318px;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1040px;
  height:1328px;
}
#u1 {
  position:absolute;
  left:2px;
  top:651px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
  opacity:0.400000005960464;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:6px;
  width:82px;
  height:45px;
  font-family:'Lobster 1.3 Bold', 'Lobster 1.3';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:45px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:-258px;
  top:59px;
  width:1287px;
  height:231px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1287px;
  height:231px;
}
#u7 {
  position:absolute;
  left:2px;
  top:108px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:329px;
  width:560px;
  height:31px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:572px;
  height:43px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
  text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
}
#u10 {
  position:absolute;
  left:250px;
  top:430px;
  width:10px;
  height:520px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:503px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:520px;
}
#u11 {
  position:absolute;
  left:-30px;
  top:450px;
  width:330px;
  height:26px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:342px;
  height:38px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
  text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 9px rgba(0, 0, 0, 0.647058823529412);
}
#u13 {
  position:absolute;
  left:40px;
  top:494px;
  width:100px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:40px;
  top:520px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:40px;
  top:550px;
  width:100px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:40px;
  top:576px;
  width:100px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:40px;
  top:602px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:40px;
  top:628px;
  width:100px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:40px;
  top:658px;
  width:100px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:40px;
  top:684px;
  width:100px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:320px;
  top:430px;
  width:540px;
  height:396px;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:396px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u10_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end.a {
  position:absolute;
  left:-5px;
  top:503px;
  width:20px;
  height:18px;
}
#u10_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:520px;
}
#u11.a {
}
#u13.a {
}
#u13_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14.a {
}
#u15.a {
}
#u15_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16.a {
}
#u17.a {
}
#u17_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18.a {
}
#u19.a {
}
#u19_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20.a {
}
#u21.a {
}
#u21_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22.a {
}
#u23.a {
}
#u23_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24.a {
}
#u25.a {
}
#u25_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26.a {
}
#u27.a {
}
#u27_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28.a {
}
#u29.a {
}
